<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - eCommerce</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3 navbar_color">
            <div class="container">
                @*<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">eCommerce</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>*@
                <img src="~/img/logomarcaTotalEpi.png" style="width:30%;"/>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-0">
                        @*<li class="nav-item">
                            <a class="nav-link text-warning" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-warning" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>*@
                        <li>
                            <a class="nav-link text-warning" href="#produto_bota_landing" style="font-size: 20px;">Botas</a>
                        </li>
                        <li>
                            <a class="nav-link text-warning" href="#produto_luva_landing" style=" font-size: 20px;">Luvas</a>
                        </li>
                        <li>
                            <a class="nav-link text-warning" href="#produto_capacete_landing" style=" font-size: 20px;">Capacetes</a>
                        </li>
                        <li>
                            <a class="nav-link text-warning" href="#produto_fone_landing" style=" font-size: 20px;">Fones</a>
                        </li>
                        <li>
                            <a class="nav-link text-warning" href="#produto_mascara_landing" style=" font-size: 20px;">Máscaras</a>
                        </li>
                        <li>
                            <a class="nav-link text-warning" href="#produto_senai_landing" style=" font-size: 20px;">Exclusivos Senai</a>
                        </li>
                            <ul class="usuario_login">
                                <li>
                                    <a id="open-modal">Logar</a>
                                </li>
                                <li>
                                    <a>Cadastrar</a>
                                </li>
                            </ul>
                        <img src="~/img/user.png" style="padding-right: .5rem; padding-left: .5rem; width: 8%;" />
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="meu_footer">
        <div class="container">
            <div class="footer_menu">
                <div>
                    <h5>Atendimento</h5>
                    <h6>(19) 3226-6600</h6>
                    <h6>atendimento@equipamaisepi.com.br</h6>
                </div>
                <div>
                    <h5>Formas de pagamento</h5>
                    <img src="~/img/meios_pagamento.png"/>
                </div>
                <div>
                    <h5>Redes Sociais</h5>
                    <div class="icones_redes_sociais">
                        <img src="~/img/whatsapp.png" />
                        <img src="~/img/instagram.png" />
                        <img src="~/img/linkedin.png" />
                    </div>               
                </div>
                <div>
                    <img id="logo_empresa" src="~/img/logoGrupo.jpg" />
                </div>
            </div>     
        </div>
    </footer>
 
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
