@{
    ViewData["Title"] = "Home Page";
}

<div class="banner">
    <img src="img/img1.jpg" alt="banner"/>
</div>

<div class="descricao_empresa"> 
    <div class="alinhar_icones">
        <img src="img/icon_pix.png" />
        <p>Pague no Pix e ganha 5% desconto.</p>
    </div>
    <div class="alinhar_icones">
        <img src="img/transportation_icon.png" />
        <p>Frete grátis clientes conveniados.</p>
    </div>
    <div class="alinhar_icones">
        <img src="img/parceria_icon.png" />
        <p>Parceria com instituições.</p>
    </div>
</div>
