@{
    ViewData["Title"] = "Home Page";
}

@* Modal para login *@

<div id="fade" class="hide"></div>
<div id="modal" class="hide">
    <div class="modal-header">
        <h2>Entre com suas credenciais</h2>
        <button id="close-modal">Fechar</button>
    </div>
    <div class="modal-body">
        <label for="name">E-mail</label>
        <input type="email" placeholder="Digite seu e-mail"> <br>
        <label for="name">Senha</label>
        <input type="text" placeholder="Insira sua senha"> <br>
    </div>
</div>

@* Banner inicial da pagina *@
<div class="banner">
    <img src="~/img/banner/banner_empresa.png" alt="banner" />
</div>

@* Caracteristicas da empresa *@
<div class="descricao_empresa">
    <div class="alinhar_icones">
        <img src="img/icon_pix.png" />
        <p>Pague no Pix e ganha 5% de desconto.</p>
    </div>
    <div class="alinhar_icones">
        <img src="img/transportation_icon.png" />
        <p>Frete grátis para estado São Paulo.</p>
    </div>
    <div class="alinhar_icones">
        <img src="img/parceria_icon.png" />
        <p>Parceria com instituições.</p>
    </div>
</div>

@* Banner com as áreas que a empresa vende seus produtos *@
<div class="areas_de_venda">
    <img src="~/img/banner/banner_area_construcao.png" alt="" />
    <img src="~/img/banner/banner_area_hospitalar.png" alt="" />
    <img src="~/img/banner/banner_area_soldador.png" alt="" />
    <img src="~/img/banner/banner_area_servicos_gereais.png" alt="" />
</div>

@* Início da categoria - BOTA *@
<a name="produto_bota_landing"></a>
<div class="banner_produto">
    <img src="~/img/banner/banner_botas.png" alt="" />
</div>

<div class="lista_produtos">
    <div class="card_produto">
        <div class="imagemProduto">
            <img src="~/img/produtos/bota1.png" alt="">
        </div>
        <div class="nome">
            <p>Bota de segurança em elástico com bico de PVC - Marluvas</p>
        </div>
        <div class="avaliacao">
            <img src="~/img/star.png" alt="">
            <img src="~/img/star.png" alt="">
            <img src="~/img/star.png" alt="">
        </div>
        <div class="preco">
            <p>R$ 79,99</p>
        </div>
    </div>
    <div class="card_produto">
        <div class="imagemProduto">
            <img src="~/img/produtos/bota2.png" alt="">
        </div>
        <div class="nome">
            <p>Bota de PVC Vulcaflex preta cano médio 25cm - Marluvas</p>
        </div>
        <div class="avaliacao">
            <img src="~/img/star.png" alt="">
            <img src="~/img/star.png" alt="">
            <img src="~/img/star.png" alt="">
            <img src="~/img/star.png" alt="">
        </div>
        <div class="preco">
            <p>R$ 39,99</p>
        </div>
    </div>
    <div class="card_produto">
        <div class="imagemProduto">
            <img src="~/img/produtos/bota3.png" alt="">
        </div>
        <div class="nome">
            <p>Sapato de elástico em Microfibra - Fujiwara </p>
        </div>
        <div class="avaliacao">
            <img src="~/img/star.png" alt="">
        </div>
        <div class="preco">
            <p>R$ 135,99</p>
        </div>
    </div>
    <div class="card_produto">
        <div class="imagemProduto">
            <img src="~/img/produtos/bota4.png" alt="">
        </div>
        <div class="nome">
            <p>Bota de segurança em couro Nobuck - Bracol </p>
        </div>
        <div class="avaliacao">
            <img src="~/img/star.png" alt="">
            <img src="~/img/star.png" alt="">
        </div>
        <div class="preco">
            <p>R$ 129,99</p>
        </div>
    </div>
</div>

@* Fim da categoria - BOTA *@

@* Início da categoria - LUVA *@
<a name="produto_luva_landing"></a>
<div class="banner_produto">
    <img src="~/img/banner/banner_luvas.png" alt="" />
</div>

<div class="lista_produtos">
    <div class="card_produto">
        <div class="imagemProduto">
            <img src="~/img/produtos/luva1.png" alt="">
        </div>
        <div class="nome">
            <p>Luva de segurança Confort látex - Danny</p>
        </div>
        <div class="avaliacao">
            <img src="~/img/star.png" alt="">
            <img src="~/img/star.png" alt="">
            <img src="~/img/star.png" alt="">
        </div>
        <div class="preco">
            <p>R$ 3,99</p>
        </div>
    </div>
    <div class="card_produto">
        <div class="imagemProduto">
            <img src="~/img/produtos/luva2.png" alt="">
        </div>
        <div class="nome">
            <p>Luva em algodão com revestimento nitrílico LightFlex 3/4 - Danny</p>
        </div>
        <div class="avaliacao">
            <img src="~/img/star.png" alt="">
            <img src="~/img/star.png" alt="">
            <img src="~/img/star.png" alt="">
            <img src="~/img/star.png" alt="">
        </div>
        <div class="preco">
            <p>R$ 9,99</p>
        </div>
    </div>
    <div class="card_produto">
        <div class="imagemProduto">
            <img src="~/img/produtos/luva3.png" alt="">
        </div>
        <div class="nome">
            <p>Luva de procedimento em latex sem pó com 100 Un- Uniglove</p>
        </div>
        <div class="avaliacao">
            <img src="~/img/star.png" alt="">
        </div>
        <div class="preco">
            <p>R$ 44,99</p>
        </div>
    </div>
    <div class="card_produto">
        <div class="imagemProduto">
            <img src="~/img/produtos/luva4.png" alt="">
        </div>
        <div class="nome">
            <p>Luva para soldador para temperaturas até 350 Graus - Delta Plus</p>
        </div>
        <div class="avaliacao">
            <img src="~/img/star.png" alt="">
            <img src="~/img/star.png" alt="">
        </div>
        <div class="preco">
            <p>R$ 49,99</p>
        </div>
    </div>
</div>

@* Fim da categoria - LUVA *@

@* Início da categoria - CAPACETE *@
<a name="produto_capacete_landing"></a>
<div class="banner_produto">
    <img src="~/img/banner/banner_capacetes.png" alt="" />
</div>

<div class="lista_produtos">
    <div class="card_produto">
        <div class="imagemProduto">
            <img src="~/img/produtos/capacete1.png" alt="">
        </div>
        <div class="nome">
            <p>Capacete de segurança ventilado com catraca - 3M</p>
        </div>
        <div class="avaliacao">
            <img src="~/img/star.png" alt="">
            <img src="~/img/star.png" alt="">
            <img src="~/img/star.png" alt="">
        </div>
        <div class="preco">
            <p>R$ 69,99</p>
        </div>
    </div>
    <div class="card_produto">
        <div class="imagemProduto">
            <img src="~/img/produtos/capacete2.png" alt="">
        </div>
        <div class="nome">
            <p>Capacete de proteção diamond com catraca e refletivo - Delta Plus</p>
        </div>
        <div class="avaliacao">
            <img src="~/img/star.png" alt="">
            <img src="~/img/star.png" alt="">
            <img src="~/img/star.png" alt="">
            <img src="~/img/star.png" alt="">
        </div>
        <div class="preco">
            <p>R$ 59,99</p>
        </div>
    </div>
    <div class="card_produto">
        <div class="imagemProduto">
            <img src="~/img/produtos/capacete3.png" alt="">
        </div>
        <div class="nome">
            <p>Kit Capacete H700 Ajuste Fácil + Protetor Facial - 3M</p>
        </div>
        <div class="avaliacao">
            <img src="~/img/star.png" alt="">
        </div>
        <div class="preco">
            <p>R$ 189,99</p>
        </div>
    </div>
    <div class="card_produto">
        <div class="imagemProduto">
            <img src="~/img/produtos/capacete4.png" alt="">
        </div>
        <div class="nome">
            <p>Máscara de solda advanced visor articulado - Carbografite</p>
        </div>
        <div class="avaliacao">
            <img src="~/img/star.png" alt="">
            <img src="~/img/star.png" alt="">
        </div>
        <div class="preco">
            <p>R$ 49,99</p>
        </div>
    </div>
</div>

@* Fim da categoria - CAPACETE *@

@* Início da categoria - PROTETOR AURICULAR *@
<a name="produto_fone_landing"></a>
<div class="banner_produto">
    <img src="~/img/banner/banner_fones.png" alt="" />
</div>

<div class="lista_produtos">
    <div class="card_produto">
        <div class="imagemProduto">
            <img src="~/img/produtos/fone1.png" alt="">
        </div>
        <div class="nome">
            <p>Protetor auricular Pomp Plus de Silicone - 3M</p>
        </div>
        <div class="avaliacao">
            <img src="~/img/star.png" alt="">
            <img src="~/img/star.png" alt="">
            <img src="~/img/star.png" alt="">
        </div>
        <div class="preco">
            <p>R$ 3,99</p>
        </div>
    </div>
    <div class="card_produto">
        <div class="imagemProduto">
            <img src="~/img/produtos/fone2.png" alt="">
        </div>
        <div class="nome">
            <p>Protetor auricular de espuma laser lite 18db - Honeywell</p>
        </div>
        <div class="avaliacao">
            <img src="~/img/star.png" alt="">
            <img src="~/img/star.png" alt="">
            <img src="~/img/star.png" alt="">
            <img src="~/img/star.png" alt="">
        </div>
        <div class="preco">
            <p>R$ 2,99</p>
        </div>
    </div>
    <div class="card_produto">
        <div class="imagemProduto">
            <img src="~/img/produtos/fone3.png" alt="">
        </div>
        <div class="nome">
            <p>Abafador muffler acoplável ao capacete - 3M</p>
        </div>
        <div class="avaliacao">
            <img src="~/img/star.png" alt="">
        </div>
        <div class="preco">
            <p>R$ 139,99</p>
        </div>
    </div>
    <div class="card_produto">
        <div class="imagemProduto">
            <img src="~/img/produtos/fone4.png" alt="">
        </div>
        <div class="nome">
            <p>Abafador de ruídos verishield VS110 22Ddb - Honeywell</p>
        </div>
        <div class="avaliacao">
            <img src="~/img/star.png" alt="">
            <img src="~/img/star.png" alt="">
        </div>
        <div class="preco">
            <p>R$ 229,99</p>
        </div>
    </div>
</div>

@* Fim da categoria - PROTETOR AURICULAR *@

@* Início da categoria - MÁSCARA *@
<a name="produto_fone_landing"></a>
<div class="banner_produto">
    <img src="~/img/banner/banner_mascaras.png" alt="" />
</div>

<div class="lista_produtos">
    <div class="card_produto">
        <div class="imagemProduto">
            <img src="~/img/produtos/mascara1.png" alt="">
        </div>
        <div class="nome">
            <p>Respirador sem válvula antiembaçante - 3M</p>
        </div>
        <div class="avaliacao">
            <img src="~/img/star.png" alt="">
            <img src="~/img/star.png" alt="">
            <img src="~/img/star.png" alt="">
        </div>
        <div class="preco">
            <p>R$ 7,99</p>
        </div>
    </div>
    <div class="card_produto">
        <div class="imagemProduto">
            <img src="~/img/produtos/mascara2.png" alt="">
        </div>
        <div class="nome">
            <p>Máscara Tripla branca e clipe nasal com 50 Un - Descarpack</p>
        </div>
        <div class="avaliacao">
            <img src="~/img/star.png" alt="">
            <img src="~/img/star.png" alt="">
            <img src="~/img/star.png" alt="">
            <img src="~/img/star.png" alt="">
        </div>
        <div class="preco">
            <p>R$ 12,99</p>
        </div>
    </div>
    <div class="card_produto">
        <div class="imagemProduto">
            <img src="~/img/produtos/mascara3.png" alt="">
        </div>
        <div class="nome">
            <p>Máscara com 1 filtro para pintura spray e pesticidas - Alltec</p>
        </div>
        <div class="avaliacao">
            <img src="~/img/star.png" alt="">
        </div>
        <div class="preco">
            <p>R$ 39,99</p>
        </div>
    </div>
    <div class="card_produto">
        <div class="imagemProduto">
            <img src="~/img/produtos/mascara4.png" alt="">
        </div>
        <div class="nome">
            <p>Máscara facial inteira absolute STD - Air Safety</p>
        </div>
        <div class="avaliacao">
            <img src="~/img/star.png" alt="">
            <img src="~/img/star.png" alt="">
        </div>
        <div class="preco">
            <p>R$ 559,99</p>
        </div>
    </div>
</div>

@* Fim da categoria - MÁSCARA *@

@* Banner e card para produtos exclusivos Senai *@
<a name="produto_senai_landing"></a>
<div class="banner">
    <img src="img/banner/banner_senai.png" alt="banner" />
</div>

<div class="lista_produtos">
    <div class="card_produto">
        <div class="imagemProduto">
            <img src="~/img/produtos/senai_jaleco.png" alt="">
        </div>
        <div class="nome">
            <p>Jaleco bolso manga longa branco - Oxford</p>
        </div>
        <div class="avaliacao">
            <img src="~/img/star.png" alt="">
            <img src="~/img/star.png" alt="">
            <img src="~/img/star.png" alt="">
        </div>
        <div class="preco">
            <p>R$ 49,99</p>
        </div>
    </div>
    <div class="card_produto">
        <div class="imagemProduto">
            <img src="~/img/produtos/senai_mascara.png" alt="">
        </div>
        <div class="nome">
            <p>Máscara de proteção N95 PFF2 sem Válvula - Nutriex</p>
        </div>
        <div class="avaliacao">
            <img src="~/img/star.png" alt="">
            <img src="~/img/star.png" alt="">
            <img src="~/img/star.png" alt="">
            <img src="~/img/star.png" alt="">
        </div>
        <div class="preco">
            <p>R$ 1,99</p>
        </div>
    </div>
    <div class="card_produto">
        <div class="imagemProduto">
            <img src="~/img/produtos/senai_touca.png" alt="">
        </div>
        <div class="nome">
            <p>Touca descartável com 50Un - Nobre</p>
        </div>
        <div class="avaliacao">
            <img src="~/img/star.png" alt="">
        </div>
        <div class="preco">
            <p>R$ 19,99</p>
        </div>
    </div>
    <div class="card_produto">
        <div class="imagemProduto">
            <img src="~/img/produtos/senai_sapato.png" alt="">
        </div>
        <div class="nome">
            <p>Sapato para cozinha II branco - Soft Works</p>
        </div>
        <div class="avaliacao">
            <img src="~/img/star.png" alt="">
            <img src="~/img/star.png" alt="">
        </div>
        <div class="preco">
            <p>R$ 79,99</p>
        </div>
    </div>
</div>

<div class="lista_produtos">
    <div class="card_produto">
        <div class="imagemProduto">
            <img src="~/img/produtos/senai_oculos.png" alt="">
        </div>
        <div class="nome">
            <p>Óculos de proteção sky clear - Delta Plus</p>
        </div>
        <div class="avaliacao">
            <img src="~/img/star.png" alt="">
            <img src="~/img/star.png" alt="">
            <img src="~/img/star.png" alt="">
        </div>
        <div class="preco">
            <p>R$ 2,99</p>
        </div>
    </div>
    <div class="card_produto">
        <div class="imagemProduto">
            <img src="~/img/produtos/senai_luva.png" alt="">
        </div>
        <div class="nome">
            <p>Luva de vinil descartável com amido com 100Un - Volk</p>
        </div>
        <div class="avaliacao">
            <img src="~/img/star.png" alt="">
            <img src="~/img/star.png" alt="">
            <img src="~/img/star.png" alt="">
            <img src="~/img/star.png" alt="">
        </div>
        <div class="preco">
            <p>R$ 19,99</p>
        </div>
    </div>
    <div class="card_produto">
        <div class="imagemProduto">
            <img src="~/img/produtos/senai_bota_bico_aco.png" alt="">
        </div>
        <div class="nome">
            <p>Botina de segurança vulcaflex bico de aço - Marluvas</p>
        </div>
        <div class="avaliacao">
            <img src="~/img/star.png" alt="">
        </div>
        <div class="preco">
            <p>R$ 69,99</p>
        </div>
    </div>
    <div class="card_produto">
        <div class="imagemProduto">
            <img src="~/img/produtos/senai_oculos_antiembacante.png" alt="">
        </div>
        <div class="nome">
            <p>Óculos vicsa persona óptico antiembaçante - Danny</p>
        </div>
        <div class="avaliacao">
            <img src="~/img/star.png" alt="">
            <img src="~/img/star.png" alt="">
        </div>
        <div class="preco">
            <p>R$ 19,99</p>
        </div>
    </div>
</div>

