@{
    ViewData["Title"] = "Home Page";
}

@* Modal para login *@

<div id="fade-login" class="hide"></div>
<div id="modal-login" class="hide">
    <div class="modal-header">
        <h2>Entre com suas credenciais</h2>
        <button id="close-modal-login">Fechar</button>
    </div>
    <div class="modal-body">
        <label for="name">E-mail</label>
        <input type="email" placeholder="Digite seu e-mail"> <br>
        <label for="name">Senha</label>
        <input type="password" placeholder="Insira sua senha"> <br>
        <button class="btnModal">Logar</button>
    </div>
</div>

@* Modal para cadastro *@

<div id="fade-cadastro" class="hide"></div>
<div id="modal-cadastro" class="hide">
    <div class="modal-header">
        <h2>Novo usuário</h2>
        <button id="close-modal-cadastro">Cancelar</button>
    </div>
    <div class="modal-body">
        <form method="post">
            <label for="name">Nome</label>
            <input type="text" name="nome" id="nome" placeholder="Digite seu nome" required> <br>
            <label for="email">E-mail</label>
            <input type="email" name="email" id="email" placeholder="Digite seu e-mail" required> <br>
            <label for="senha">Senha</label>
            <input type="password" name="senha" id="senha" placeholder="Insira sua senha" required> <br>          
            <label for="cpf">CPF</label>
            <input type="text" name="cpf" id="cpf" placeholder="Digite seu CPF" oninput="mascaraCpf(this)" required> <br>
            <label for="cep">CEP</label>
            <input type="text" name="cep" id="cep" placeholder="Digite seu CEP" maxlength="8" required> <br>
            <label for="logradouro">Logradouro</label>
            <input type="text" name="logradouro" id="logradouro" placeholder="" required> <br>
            <label for="numero">Nº</label>
            <input type="number" name="numero" id="numero" placeholder="" required> <br>
            <label for="complemente">Complemento</label>
            <input type="text" name="complemento" id="complemento" placeholder=""> <br>
            <label for="bairro">Bairro</label>
            <input type="text" name="bairro" id="bairro" placeholder="" required> <br>
            <label for="cidade">Cidade</label>
            <input type="text" name="cidade" id="cidade" placeholder="" required> <br>
            <button class="btnModal" asp-controller="Home" asp-action="Salvar">Cadastrar</button>
        </form>   
    </div>
</div>

@* Banner inicial da pagina *@
<div class="banner">
    <img src="~/img/banner/banner_empresa.png" alt="banner" />
</div>

@* Caracteristicas da empresa *@
<div class="descricao_empresa">
    <div class="alinhar_icones">
        <img src="img/icon_pix.png" />
        <p>Pague no Pix e ganha 5% de desconto.</p>
    </div>
    <div class="alinhar_icones">
        <img src="img/transportation_icon.png" />
        <p>Frete grátis para estado São Paulo.</p>
    </div>
    <div class="alinhar_icones">
        <img src="img/parceria_icon.png" />
        <p>Parceria com instituições.</p>
    </div>
</div>

@* Banner com as áreas que a empresa vende seus produtos *@
<div class="areas_de_venda">
    <img src="~/img/banner/banner_area_construcao.png" alt="" />
    <img src="~/img/banner/banner_area_hospitalar.png" alt="" />
    <img src="~/img/banner/banner_area_soldador.png" alt="" />
    <img src="~/img/banner/banner_area_servicos_gereais.png" alt="" />
</div>

@* Início da categoria - BOTA *@
<a name="produto_bota_landing"></a>
<div class="banner_produto">
    <img src="~/img/banner/banner_botas.png" alt="" />
</div>

<div class="lista_produtos">
    <div class="card_produto">
        <div class="imagemProduto">
            <img src="~/img/produtos/bota1.png" alt="">
        </div>
        <div class="nome">
            <p>Bota de segurança em elástico com bico de PVC - Marluvas</p>
        </div>
        <div class="avaliacao">
            <img src="~/img/star.png" alt="">
            <img src="~/img/star.png" alt="">
            <img src="~/img/star.png" alt="">
        </div>
        <div class="preco">
            <p>R$ 79,99</p>
        </div>
    </div>
    <div class="card_produto">
        <div class="imagemProduto">
            <img src="~/img/produtos/bota2.png" alt="">
        </div>
        <div class="nome">
            <p>Bota de PVC Vulcaflex preta cano médio 25cm - Marluvas</p>
        </div>
        <div class="avaliacao">
            <img src="~/img/star.png" alt="">
            <img src="~/img/star.png" alt="">
            <img src="~/img/star.png" alt="">
            <img src="~/img/star.png" alt="">
        </div>
        <div class="preco">
            <p>R$ 39,99</p>
        </div>
    </div>
    <div class="card_produto">
        <div class="imagemProduto">
            <img src="~/img/produtos/bota3.png" alt="">
        </div>
        <div class="nome">
            <p>Sapato de elástico em Microfibra - Fujiwara </p>
        </div>
        <div class="avaliacao">
            <img src="~/img/star.png" alt="">
        </div>
        <div class="preco">
            <p>R$ 135,99</p>
        </div>
    </div>
    <div class="card_produto">
        <div class="imagemProduto">
            <img src="~/img/produtos/bota4.png" alt="">
        </div>
        <div class="nome">
            <p>Bota de segurança em couro Nobuck - Bracol </p>
        </div>
        <div class="avaliacao">
            <img src="~/img/star.png" alt="">
            <img src="~/img/star.png" alt="">
        </div>
        <div class="preco">
            <p>R$ 129,99</p>
        </div>
    </div>
</div>

@* Fim da categoria - BOTA *@

@* Início da categoria - LUVA *@
<a name="produto_luva_landing"></a>
<div class="banner_produto">
    <img src="~/img/banner/banner_luvas.png" alt="" />
</div>

<div class="lista_produtos">
    <div class="card_produto">
        <div class="imagemProduto">
            <img src="~/img/produtos/luva1.png" alt="">
        </div>
        <div class="nome">
            <p>Luva de segurança Confort látex - Danny</p>
        </div>
        <div class="avaliacao">
            <img src="~/img/star.png" alt="">
            <img src="~/img/star.png" alt="">
            <img src="~/img/star.png" alt="">
        </div>
        <div class="preco">
            <p>R$ 3,99</p>
        </div>
    </div>
    <div class="card_produto">
        <div class="imagemProduto">
            <img src="~/img/produtos/luva2.png" alt="">
        </div>
        <div class="nome">
            <p>Luva em algodão com revestimento nitrílico LightFlex 3/4 - Danny</p>
        </div>
        <div class="avaliacao">
            <img src="~/img/star.png" alt="">
            <img src="~/img/star.png" alt="">
            <img src="~/img/star.png" alt="">
            <img src="~/img/star.png" alt="">
        </div>
        <div class="preco">
            <p>R$ 9,99</p>
        </div>
    </div>
    <div class="card_produto">
        <div class="imagemProduto">
            <img src="~/img/produtos/luva3.png" alt="">
        </div>
        <div class="nome">
            <p>Luva de procedimento em latex sem pó com 100 Un- Uniglove</p>
        </div>
        <div class="avaliacao">
            <img src="~/img/star.png" alt="">
        </div>
        <div class="preco">
            <p>R$ 44,99</p>
        </div>
    </div>
    <div class="card_produto">
        <div class="imagemProduto">
            <img src="~/img/produtos/luva4.png" alt="">
        </div>
        <div class="nome">
            <p>Luva para soldador para temperaturas até 350 Graus - Delta Plus</p>
        </div>
        <div class="avaliacao">
            <img src="~/img/star.png" alt="">
            <img src="~/img/star.png" alt="">
        </div>
        <div class="preco">
            <p>R$ 49,99</p>
        </div>
    </div>
</div>

@* Fim da categoria - LUVA *@

@* Início da categoria - CAPACETE *@
<a name="produto_capacete_landing"></a>
<div class="banner_produto">
    <img src="~/img/banner/banner_capacetes.png" alt="" />
</div>

<div class="lista_produtos">
    <div class="card_produto">
        <div class="imagemProduto">
            <img src="~/img/produtos/capacete1.png" alt="">
        </div>
        <div class="nome">
            <p>Capacete de segurança ventilado com catraca - 3M</p>
        </div>
        <div class="avaliacao">
            <img src="~/img/star.png" alt="">
            <img src="~/img/star.png" alt="">
            <img src="~/img/star.png" alt="">
        </div>
        <div class="preco">
            <p>R$ 69,99</p>
        </div>
    </div>
    <div class="card_produto">
        <div class="imagemProduto">
            <img src="~/img/produtos/capacete2.png" alt="">
        </div>
        <div class="nome">
            <p>Capacete de proteção diamond com catraca e refletivo - Delta Plus</p>
        </div>
        <div class="avaliacao">
            <img src="~/img/star.png" alt="">
            <img src="~/img/star.png" alt="">
            <img src="~/img/star.png" alt="">
            <img src="~/img/star.png" alt="">
        </div>
        <div class="preco">
            <p>R$ 59,99</p>
        </div>
    </div>
    <div class="card_produto">
        <div class="imagemProduto">
            <img src="~/img/produtos/capacete3.png" alt="">
        </div>
        <div class="nome">
            <p>Kit Capacete H700 Ajuste Fácil + Protetor Facial - 3M</p>
        </div>
        <div class="avaliacao">
            <img src="~/img/star.png" alt="">
        </div>
        <div class="preco">
            <p>R$ 189,99</p>
        </div>
    </div>
    <div class="card_produto">
        <div class="imagemProduto">
            <img src="~/img/produtos/capacete4.png" alt="">
        </div>
        <div class="nome">
            <p>Máscara de solda advanced visor articulado - Carbografite</p>
        </div>
        <div class="avaliacao">
            <img src="~/img/star.png" alt="">
            <img src="~/img/star.png" alt="">
        </div>
        <div class="preco">
            <p>R$ 49,99</p>
        </div>
    </div>
</div>

@* Fim da categoria - CAPACETE *@

@* Início da categoria - PROTETOR AURICULAR *@
<a name="produto_fone_landing"></a>
<div class="banner_produto">
    <img src="~/img/banner/banner_fones.png" alt="" />
</div>

<div class="lista_produtos">
    <div class="card_produto">
        <div class="imagemProduto">
            <img src="~/img/produtos/fone1.png" alt="">
        </div>
        <div class="nome">
            <p>Protetor auricular Pomp Plus de Silicone - 3M</p>
        </div>
        <div class="avaliacao">
            <img src="~/img/star.png" alt="">
            <img src="~/img/star.png" alt="">
            <img src="~/img/star.png" alt="">
        </div>
        <div class="preco">
            <p>R$ 3,99</p>
        </div>
    </div>
    <div class="card_produto">
        <div class="imagemProduto">
            <img src="~/img/produtos/fone2.png" alt="">
        </div>
        <div class="nome">
            <p>Protetor auricular de espuma laser lite 18db - Honeywell</p>
        </div>
        <div class="avaliacao">
            <img src="~/img/star.png" alt="">
            <img src="~/img/star.png" alt="">
            <img src="~/img/star.png" alt="">
            <img src="~/img/star.png" alt="">
        </div>
        <div class="preco">
            <p>R$ 2,99</p>
        </div>
    </div>
    <div class="card_produto">
        <div class="imagemProduto">
            <img src="~/img/produtos/fone3.png" alt="">
        </div>
        <div class="nome">
            <p>Abafador muffler acoplável ao capacete - 3M</p>
        </div>
        <div class="avaliacao">
            <img src="~/img/star.png" alt="">
        </div>
        <div class="preco">
            <p>R$ 139,99</p>
        </div>
    </div>
    <div class="card_produto">
        <div class="imagemProduto">
            <img src="~/img/produtos/fone4.png" alt="">
        </div>
        <div class="nome">
            <p>Abafador de ruídos verishield VS110 22Ddb - Honeywell</p>
        </div>
        <div class="avaliacao">
            <img src="~/img/star.png" alt="">
            <img src="~/img/star.png" alt="">
        </div>
        <div class="preco">
            <p>R$ 229,99</p>
        </div>
    </div>
</div>

@* Fim da categoria - PROTETOR AURICULAR *@

@* Início da categoria - MÁSCARA *@
<a name="produto_mascara_landing"></a>
<div class="banner_produto">
    <img src="~/img/banner/banner_mascaras.png" alt="" />
</div>

<div class="lista_produtos">
    <div class="card_produto">
        <div class="imagemProduto">
            <img src="~/img/produtos/mascara1.png" alt="">
        </div>
        <div class="nome">
            <p>Respirador sem válvula antiembaçante - 3M</p>
        </div>
        <div class="avaliacao">
            <img src="~/img/star.png" alt="">
            <img src="~/img/star.png" alt="">
            <img src="~/img/star.png" alt="">
        </div>
        <div class="preco">
            <p>R$ 7,99</p>
        </div>
    </div>
    <div class="card_produto">
        <div class="imagemProduto">
            <img src="~/img/produtos/mascara2.png" alt="">
        </div>
        <div class="nome">
            <p>Máscara Tripla branca e clipe nasal com 50 Un - Descarpack</p>
        </div>
        <div class="avaliacao">
            <img src="~/img/star.png" alt="">
            <img src="~/img/star.png" alt="">
            <img src="~/img/star.png" alt="">
            <img src="~/img/star.png" alt="">
        </div>
        <div class="preco">
            <p>R$ 12,99</p>
        </div>
    </div>
    <div class="card_produto">
        <div class="imagemProduto">
            <img src="~/img/produtos/mascara3.png" alt="">
        </div>
        <div class="nome">
            <p>Máscara com 1 filtro para pintura spray e pesticidas - Alltec</p>
        </div>
        <div class="avaliacao">
            <img src="~/img/star.png" alt="">
        </div>
        <div class="preco">
            <p>R$ 39,99</p>
        </div>
    </div>
    <div class="card_produto">
        <div class="imagemProduto">
            <img src="~/img/produtos/mascara4.png" alt="">
        </div>
        <div class="nome">
            <p>Máscara facial inteira absolute STD - Air Safety</p>
        </div>
        <div class="avaliacao">
            <img src="~/img/star.png" alt="">
            <img src="~/img/star.png" alt="">
        </div>
        <div class="preco">
            <p>R$ 559,99</p>
        </div>
    </div>
</div>

@* Fim da categoria - MÁSCARA *@

@* Banner e card para produtos exclusivos Senai *@
<a name="produto_senai_landing"></a>
<div class="banner">
    <img src="img/banner/banner_senai.png" alt="banner" />
</div>

<div class="lista_produtos">
    <div class="card_produto">
        <div class="imagemProduto">
            <img src="~/img/produtos/senai_jaleco.png" alt="">
        </div>
        <div class="nome">
            <p>Jaleco bolso manga longa branco - Oxford</p>
        </div>
        <div class="avaliacao">
            <img src="~/img/star.png" alt="">
            <img src="~/img/star.png" alt="">
            <img src="~/img/star.png" alt="">
        </div>
        <div class="preco">
            <p>R$ 49,99</p>
        </div>
    </div>
    <div class="card_produto">
        <div class="imagemProduto">
            <img src="~/img/produtos/senai_mascara.png" alt="">
        </div>
        <div class="nome">
            <p>Máscara de proteção N95 PFF2 sem Válvula - Nutriex</p>
        </div>
        <div class="avaliacao">
            <img src="~/img/star.png" alt="">
            <img src="~/img/star.png" alt="">
            <img src="~/img/star.png" alt="">
            <img src="~/img/star.png" alt="">
        </div>
        <div class="preco">
            <p>R$ 1,99</p>
        </div>
    </div>
    <div class="card_produto">
        <div class="imagemProduto">
            <img src="~/img/produtos/senai_touca.png" alt="">
        </div>
        <div class="nome">
            <p>Touca descartável com 50Un - Nobre</p>
        </div>
        <div class="avaliacao">
            <img src="~/img/star.png" alt="">
        </div>
        <div class="preco">
            <p>R$ 19,99</p>
        </div>
    </div>
    <div class="card_produto">
        <div class="imagemProduto">
            <img src="~/img/produtos/senai_sapato.png" alt="">
        </div>
        <div class="nome">
            <p>Sapato para cozinha II branco - Soft Works</p>
        </div>
        <div class="avaliacao">
            <img src="~/img/star.png" alt="">
            <img src="~/img/star.png" alt="">
        </div>
        <div class="preco">
            <p>R$ 79,99</p>
        </div>
    </div>
</div>

<div class="lista_produtos">
    <div class="card_produto">
        <div class="imagemProduto">
            <img src="~/img/produtos/senai_oculos.png" alt="">
        </div>
        <div class="nome">
            <p>Óculos de proteção sky clear - Delta Plus</p>
        </div>
        <div class="avaliacao">
            <img src="~/img/star.png" alt="">
            <img src="~/img/star.png" alt="">
            <img src="~/img/star.png" alt="">
        </div>
        <div class="preco">
            <p>R$ 2,99</p>
        </div>
    </div>
    <div class="card_produto">
        <div class="imagemProduto">
            <img src="~/img/produtos/senai_luva.png" alt="">
        </div>
        <div class="nome">
            <p>Luva de vinil descartável com amido com 100Un - Volk</p>
        </div>
        <div class="avaliacao">
            <img src="~/img/star.png" alt="">
            <img src="~/img/star.png" alt="">
            <img src="~/img/star.png" alt="">
            <img src="~/img/star.png" alt="">
        </div>
        <div class="preco">
            <p>R$ 19,99</p>
        </div>
    </div>
    <div class="card_produto">
        <div class="imagemProduto">
            <img src="~/img/produtos/senai_bota_bico_aco.png" alt="">
        </div>
        <div class="nome">
            <p>Botina de segurança vulcaflex bico de aço - Marluvas</p>
        </div>
        <div class="avaliacao">
            <img src="~/img/star.png" alt="">
        </div>
        <div class="preco">
            <p>R$ 69,99</p>
        </div>
    </div>
    <div class="card_produto">
        <div class="imagemProduto">
            <img src="~/img/produtos/senai_oculos_antiembacante.png" alt="">
        </div>
        <div class="nome">
            <p>Óculos vicsa persona óptico antiembaçante - Danny</p>
        </div>
        <div class="avaliacao">
            <img src="~/img/star.png" alt="">
            <img src="~/img/star.png" alt="">
        </div>
        <div class="preco">
            <p>R$ 19,99</p>
        </div>
    </div>
</div>

@* Botões para trocar os textos *@

<div class="btnOpcoesTextos">
        <input class="btnOpcoes" type="button" value="Sobre nós" onclick="trocarTextoSobre()">
        <input class="btnOpcoes" type="button" value="Nossos valores" onclick="trocarTextoValores();">
        <input class="btnOpcoes" type="button" value="Principais EPIs" onclick="trocarTextoEPI()">
</div>

@* Textos com as informações da empresa *@

<div class="textosInformativos">
    <p id="textoSobre">
        O mercado de proteção individual segue em constante ascensão. A preocupação com a preservação da segurança dos trabalhadores
        e o surgimento de normas regulamentadoras, que estão sempre em processo de atualização, são apenas alguns dos fortes fatores 
        que fazem com que este segmento esteja sempre em movimento.
        Se você possui uma empresa, é preciso estar atento às exigências com relação aos Equipamentos de Proteção Individual (EPIs)
        para não ter nenhum tipo de contratempo com algum funcionário ferido durante a jornada de trabalho. Além disso, os EPIs
        também previnem as doenças ocupacionais, que podem comprometer a vida futura dos trabalhadores. Mas, a relevância do EPI
        não é apenas para garantir a integridade dos funcionários, é uma das maneiras de assegurar que as demandas sejam entregues
        de maneira segura e sem atrasos.
    </p>
</div>

<p id="textoValores">
    A EquipaMais EPI tem como principais valores a segurança, inspiração e a confiança. Através desses pilares nos conquistamos o  nosso 
    espaço no mercado com o objetivo de criar um ambiente de compras online onde nossos clientes encontrem os melhores produtos, das melhores
    marcas do mercado com preços acessiveis para garantir que todo trabalhador ao realizar suas tarefas diárias se sintam seguros e confiantes
    que estão equipados da melhor forma possível.
</p>

<p id="textoEPI">
    Um dos componentes de EPI mais utilizados é o capacete de segurança, usado para proteger a cabeça do trabalhador contra queda 
    de objetos. O protetor auditivo também tem fundamental importância, pois garante a proteção contra ruídos e a saúde auditiva do
    trabalhador. O calçado de segurança, que pode ser botas de segurança e sapato de segurança, garante a proteção dos pés 
    contra perfurações e escorregões. A máscara também protege a saúde do trabalhador contra os malefícios causados por poeira ou 
    produtos químicos. A luva de proteção também está presente em vários segmentos e tem como objetivo proteger as mãos contra 
    perfurações, cortes e contato com produtos químicos ou contagiosos. E para finalizar não poderíamos deixar de citar
    o óculos de proteção, que serve contra a projeção de partículas.
</p>