@{
    ViewData["Title"] = "Privacy Policy";
}

@* Texto sobre a importancia dos EPIS *@

<div class="sobre_epi" id="exibirSobre">
    <h1 class="titulo_sobre">A importância do EPI</h1>
    <p>
        Se você possui uma empresa, é preciso estar atento às exigências com relação aos Equipamentos de Proteção Individual (EPIs)
        para não ter nenhum tipo de contratempo com algum funcionário ferido durante a jornada de trabalho. Além disso, os EPIs
        também previnem as doenças ocupacionais, que podem comprometer a vida futura dos trabalhadores. Mas, a relevância do EPI
        não é apenas para garantir a integridade dos funcionários, é uma das maneiras de assegurar que as demandas sejam entregues
        de maneira segura e sem atrasos. Um dos componentes de EPI mais utilizados é o capacete de segurança, usado para proteger a
        cabeça do trabalhador contra queda de objetos. O protetor auditivo também tem fundamental importância, pois garante a proteção
        contra ruídos e a saúde auditiva do trabalhador. O calçado de segurança, que pode ser botas de segurança e sapato de segurança,
        garante a proteção dos pés contra perfurações e escorregões. A máscara também protege a saúde do trabalhador contra os malefícios
        causados por poeira ou produtos químicos. A luva de proteção também está presente em vários segmentos e tem como objetivo proteger
        as mãos contra perfurações, cortes e contato com produtos químicos ou contagiosos. E para finalizar não poderíamos deixar de citar
        o óculos de proteção, que serve contra a projeção de partículas.
    </p>
</div>
