@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat:wght@300&family=Nunito:wght@200&family=Pacifico&family=Poppins:wght@300&family=Righteous&family=Roboto+Slab:wght@300&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lato:wght@700&family=Montserrat:wght@300&family=Nunito:wght@200&family=Pacifico&family=Poppins:wght@300&family=Righteous&family=Roboto+Slab:wght@300&family=Roboto:wght@300&display=swap');

/* Redimensionar o Banner */
.banner img {
    width: 100%;
    margin-top: 2%;
}

/* Caracteristicas da empresa */
.descricao_empresa {
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}

.alinhar_icones {
   display: flex;
   justify-content: space-evenly;
}

.descricao_empresa img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

/* Imagens com as áreas que são vendidos produtos */
.areas_de_venda {
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}

/* Banner com a categoria dos produtos dos cards */
.banner_produto {
    margin-top: 4%;
}

.banner_produto img {
    width: 100%;
}

/* Div para organizar os cards de cada produto */
.lista_produtos {
    display: flex;
    margin-top: 2%;
}

/* Card dos produtos */
.card_produto {
    padding: 2%;
    border-color: gray;
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
    margin: 1%;
}

.card_produto p {
    margin: 4%;
}

.imagemProduto img {
    width: 100%
}
.nome p {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.avaliacao {
    margin: 4%;
}

.preco p {
    font-size: 2rem;
    font-family: 'Lato', sans-serif;
}

/* Texto sobre a importância dos EPIS */
.sobre_epi {
    position: relative;
    color: yellow;
    text-align: justify;
    margin-top: 2%;
    padding: 6%;
    border-radius: 30px;
    background: rgb(0,0,0);
}

.titulo_sobre {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2%;
}

/* Footer da página */
.meu_footer {
    position: absolute;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    background-color: black;
    color: red;
}

/* Navbar */
.navbar_color {
    background: #000;
}

/* Responsividades dos elementos da tela */
@media(min-width: 990px) {
    .descricao_empresa {
        font-size: 20px;
    }
}
